{{#each drinks as |drink|}}
  <!-- {{log drink}} -->
  <section data-id="{{drink.id}}">
    <h6>Name:</h6>
    <h4>
      {{drink.name}}
    </h4>
    <h6>Shop:</h6>
    <p>
      {{#if drink.shop_name}}
        {{drink.shop_name}}
      {{else}}
        No shop
      {{/if}}
    </p>
    <p>
      <h6>Date:</h6>
      {{#if drink.date}}
        {{drink.date}}
      {{else}}
        Don't Remember
      {{/if}}
    </p>
    {{> partial id=drink.id}}
  </section>

{{/each}}
